<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios</title>
    <script src="./components/login.js" type="module"></script>
    <script src="./components/classList.js" type="module"></script>
    <link rel="stylesheet" href="./output.css">
</head>

<body class="bg-gray-100">
    <login-nav></login-nav>
    <class-list></class-list>

</body>

</html>